* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;
  background: #f2fdff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
a {
  color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;

  &__main {
    display: flex;
    gap: 0.6em;
  }
  &__content {
    position: relative;
    flex: 0 1 75%;
    background: rgb(227, 232, 247);
    border-radius: 18px;
    padding: 10px;
    overflow: hidden;
    padding-top: 3.5em;
    padding-bottom: 1em;
    color: #624fff;
  }
}

.content {
  &__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    height: 3em;
    background: url('../src/assets/images/cloud-top.webp') 100% / cover
      no-repeat;
  }
}
